

    .qs li {margin-bottom:1em;}
    .qp {line-height:1.8;}

    .drag-blank-quiz {
        width:40em;
        margin:2em auto;
        padding:1em;
        border:5px solid red;
		height: 650px;
    }


    .quiz-choices-container {  
        position: relative;	
         background:#eee;
         padding:1em;
         margin:3px; 
        list-style-type:none;
		 border:1px solid green;
		 height: 140px;
		float: top;

		
    }
    
    .quiz-choices-container li {
		 
		display:inline-block;
       // margin-below:3px; 
	   margin:2px;
		height: 300px
		float: top;
		padding:2px;  
    }
    
    .quiz-answer-heading{
        display:block;
        font-weight:bold;
        margin-bottom:1em;
        padding-top:1em;
		
    }        


       
    .choice-for-quiz{
		 
        display:inline-block;
	    width: 130px;
	   
        border:1px solid black;
        //padding:0.25em;
		padding:5px;
      //  background:#fff;
	    background: lightgreen;
		   
		
		
    }

    .quiz-blank{
        display:inline-block; 
        border-bottom:1px solid #000; width:11em;
        padding:0.25em; height:1em;
    }

    .quiz-hover{
        background:#FEEFB3;
    }

    .quiz-correct{
        border:0;
        background:transparent;
        font-weight:bold;
    }


    .quiz-score,
    .quiz-message{
        padding:0.25em;
        border:1px solid;
        margin:0.25em;
        font-weight:bold;
    }

    .quiz-score,
    .quiz-message-correct{
        background:#DFF2BF;
        color:#4F8A10;
    }
    
    .quiz-message-incorrect{
        background:#FFBABA;
        color:#D8000C;
    }


.button {
    border: none;
    color: black;
    background-color: #4CAF50;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #4CAF50;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
	font-size: 20px;
}
 
.button:hover {
    color: #4CAF50;
    background-color: #fff;
    border: 2px solid #4CAF50;
}
